body {
  background-color: rgba(27, 31, 35);
  color: aliceblue;
  font-family: "Noto Sans", Sans-Serif;
  text-align: center;
}

#main {
  text-align: center;
}

#GameRelated1 {
  position: absolute;
  /* background-image: url(../images/Boards/Black-Gray.png); */
  background-size: cover;
  image-rendering: pixelated;
  /* width: 300px;
  height: 300px; */
  left: 100px;
}

.absolute {
  /* display: inline; */
  position: absolute;
}

.bg {
  user-select: none;
}

.piece {
  filter: brightness(100%);
}

.piece:hover {
  filter: brightness(50%);
  transition: all 0.5s ease;
}
