<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chess - Login</title>
  </head>
  <body>
    <!-- TODO: make it look better -->
    <form class="" action="login_endpoint" method="post">
      <label for="UserName">Username:</label>
      <input type="text" name="UserName" value="UserName" required><br>
      <label for="PassWord">Password:</label>
      <input type="password" name="PassWord" value="" required>
      <br>
      <input type="submit" value="Sign in">
    </form>
  </body>
</html>
