<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register - Chess</title>
  </head>
  <body>
    <form class="" action="signup_endpoint" method="post">
      <label for="UserName">Username:</label>
      <input type="text" name="UserName" value="UserName" required><br>
      <label for="PassWord">Password:</label>
      <input type="password" name="PassWord" value="" required>
      <label for="PassWordCon">Confirm Password:</label>
      <input type="password" name="PassWordCon" value="" required>
      <br>
      <input type="submit" value="Sign up">
    </form>
  </body>
</html>
