<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>(╯°□°）╯︵ ┻━┻</title>
    <link rel="stylesheet" href="/css/standard.css" />
    <script language="javascript" type="text/javascript">
    function windowClose() {
      window.open('','_parent','');
      window.close();
    }
    </script>
    </script>
    <!-- <script src="/js/init.js"></script> -->
  </head>
  <body>

    <div id="GameRelated1"></div>



    <script>
    let boardsize = 296
    const c_w = window.innerWidth;
    const c_h = window.innerHeight;
    var showed_text = false
    var old = ""
    function checksize() {
      let w = window.innerWidth;
      let h = window.innerHeight;
      if(c_w != w || c_h != h){
        if(!showed_text){
          alert("please do not change your window size for optimal game experience")
        }
        showed_text = true
      }
      if(w<500 || h<500){
        if(old == "")old = document.body.innerHTML
        document.body.innerHTML=`<h1 style="color:red;">Your screen size is too small to show the chess board, please adjust the window size</h1>`
      } else {
        if(old != "") {
          document.body.innerHTML=old
          old = ""
        }
      }
      setTimeout(checksize,100)
    }

    checksize()

    var socket;
    function createws(){
      socket = new WebSocket('ws://ftp.infiniteonline.ga'); // TODO: add websocketserver
      socket.addEventListener('open', function (event) {
          socket.send('Hello Server!');
          // TODO: verify to the server with the acc
      });
      socket.addEventListener('message', function (event) {
          console.log('Message from server ', event.data);
          // TODO: handle info
      });
    }
    var grid = {}
    var doc = document.getElementById("GameRelated1");
    for (let x = 0; x < 8; x++) {
      grid[x] = grid[x] || {}
      for (let y = 0; y < 8; y++) {
        grid[x][y] = grid[x][y] || {}
        let isDark = (x+y)%2==1
        grid[x][y]["isdark"]=isDark
        if(isDark){
          grid[x][y]["dom"]=`<img src="/images/Boards/gray.png"  class="bg" width=${boardsize/8} height=${boardsize/8}>`
        } else {
          grid[x][y]["dom"]=`<img src="/images/Boards/white.png" class="bg" width=${boardsize/8} height=${boardsize/8}>`
        }
      }
    }
    console.log("created 2d grid")

    for (let y = 0; y < 8; y++) {
      doc.innerHTML += "<br>"
      for (let x = 0; x < 8; x++) {
        let toinsert = `<div class="board absolute" id='${x}-${y}' style="left:${c_w/2-boardsize+x*(boardsize/8)}px;top:${c_h/2-boardsize+y*(boardsize/8)}px">`
        let piece = "dummy"

        if(y==1 || y==6)piece="Pawn"
        if(y==0 || y==7) {
          switch (x) {
            case 0:
            case 7:
              piece="Rook"
              break;
            case 1:
            case 6:
              piece="Knight"
              break;
            case 2:
            case 5:
              piece="Bishop"
              break;
            case 4:
              piece="Queen"
              break
            case 3:
              piece="King"
              break
          }
        }


        if(piece!="dummy") {
          if(y<6) {
            toinsert += `<img src="/images/pieces/dark/${piece}.png" draggable="false"  class="piece absolute" style="left:0px;top:0px" onclick="clicked_piece(${x},${y})">`
          } else {
            toinsert += `<img src="/images/pieces/white/${piece}.png" draggable="false" class="piece absolute" style="left:0px;top:0px" onclick="clicked_piece(${x},${y})">`
          }
        }
        toinsert += grid[x][y]['dom']
        toinsert += "</div>"
        doc.innerHTML += toinsert
      }
    }
    console.log("showing 2d grid")
    </script>
  </body>
</html>
